body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-image: url(img/truck-crash.gif);
    background-size: cover;
  }
  
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 200px;
    height: 60px;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition-duration: .2s;
    position: relative;
    overflow: hidden;
  }
  
  button:before,
  button:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: 10px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
  }
  
  @keyframes steam {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  button:after {
    filter: blur(50px);
  }
  